In [3]:
import pandas as pd
from scipy import stats
df = pd.read_csv('sample_data_noise.csv', sep=';')
data = {"Stats" : ['Min','Max','Mean','Standard Deviasi','Variasi','Skewnes',
                   'Quantile 1','Quantile 2', 'Quantile 3', 'Median','Modus']}
for i in df.columns:
    data[i] = [df[i].min(), df[i].max(), df[i].mean(),
                round(df[i].std(), 2),round(df[i].var(), 2),
                round(df[i].skew(), 2), df[i].quantile(0.25),
                df[i].quantile(0.5), df[i].quantile(0.75),
                df[i].median(), stats.mode(df[i]).mode[0]]
    
tes = pd.DataFrame(data, columns = ['Stats'] + [x for x in df.columns])
tes

               Stats       X1       X2       X3       X4
0                Min   30.000   30.000   30.000   30.000
1                Max  600.000  115.000  336.000  145.000
2               Mean   56.162   53.598   55.596   55.396
3   Standard Deviasi   30.860   15.320   19.140   15.370
4            Variasi  952.260  234.810  366.520  236.120
5            Skewnes   12.270    0.220    6.280    0.470
6         Quantile 1   42.000   40.000   43.000   43.750
7         Quantile 2   54.000   52.000   55.000   54.000
8         Quantile 3   68.000   67.000   67.250   68.000
9             Median   54.000   52.000   55.000   54.000
10             Modus   77.000   38.000   38.000   54.000

In [7]:
def dekteksi_outlier(df_in):
    outliers = []
    threshold = 3
    for col_name in df_in:
        mean = df_in[col_name].mean()
        std = df_in[col_name].std()
        i=1
        for y in df_in[col_name]:
            z_score = (y - mean) / std
            if abs(z_score) > threshold:
                outliers.append([col_name,y,i])
            i+=1
    return outliers

for i in dekteksi_outlier(df):
    print('Data sampah (',i[1],') dikolom',i[0],'pada baris',i[2])

Data sampah ( 322 ) dikolom X1 pada baris 453
Data sampah ( 600 ) dikolom X1 pada baris 489
Data sampah ( 115 ) dikolom X2 pada baris 449
Data sampah ( 336 ) dikolom X3 pada baris 406
Data sampah ( 145 ) dikolom X4 pada baris 407
Data sampah ( 120 ) dikolom X4 pada baris 413

In [5]:
import matplotlib.pyplot as plt
plt.hist(df.values)
plt.show()

In [26]:
import numpy as np

z = np.abs(stats.zscore(df['X1']))
threshold = 3
print(np.where(z > 3))

(array([11], dtype=int32),)

In [4]:
Q1 = df['X1'].quantile(0.25)
Q3 = df['X1'].quantile(0.75)
IQR = Q3 - Q1
# print (df['X1'] < (Q1 - 1.5 * IQR)) |(df['X1'] > (Q3 + 1.5 * IQR))